.container {
  display: flex;
  gap: 150px;


  .sidebar {
    padding: 15px;

    .brand {
      padding: 15px;
      font: {
        size: 24px;
        weight: bold;
        family: 'Montserrat', sans-serif;
      }
    }

    .remote-menu {
      li {
        a {
          text-decoration: none;
        }
      }
      .divider {
        list-style: none;
        border-top: 1px solid #e5e5e5;
        padding: 10px 0;
        margin: 10px 0;
      }
    }
  }
}