<div class="container">
    <div class="sidebar">
        <span [style.color]="color()" class="brand">Bannerflow</span>
        <ul class="remote-menu">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="brand-settings">Brand Settings</a></li>
            <li><a routerLink="creativeset-list">Creativeset List</a></li>
            <li></li>
            <li></li>
            <li></li>
            <li><a routerLink="react-app">React App </a></li>
        </ul>
    </div>
    <div class="page">
        <router-outlet></router-outlet>
    </div>
</div>
